{% extends 'index.html' %}
{% load static %} 
{% block content %}
<div>
    <h1>Interessen</h1>
        <ol>
            <li>MLOps Kurs (Udemy)</li>
            <li>AWS Zertifikat</li>
            <li>The Complete 2023 Web Development Bootcamp (Udemy)</li>
        </ol>
    <h1>Projekte</h1>
        <ol>
            <li>RASA Chatbot in Django integrieren</li>
            <li>Wo eröffne ich in Berlin eine neue Eisdiele? (Scrape GoogleMaps)</li>
            <li>Hervorsage der Schülerzahlen</li>
            <li>Polizeiliche Kriminalitätsstatistik vergleichen</li>
            <li>Anzahl der pflegebedürftigen Menschen in Deutschland</li>
            <li>NEUE KPI der Deutschen Bahn: rechtzeitige Ankunft am Zielbahnhof beim Umsteigen (Verspätung der Deutschen Bahn)</li>
        </ol>
</div>
{% endblock content%}